<!DOCTYPE html>
<HTML>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">  </head>
  <body>
    <div class="center_content">
      <img src="./assets/images/educative_logo.png">
          <p class = "app_main_heading">
            {{ hero_body_text }}
          </p>
          <div style="width:30px; height:30px;"></div>
          <p class = "app_sub_heading">
            {{ register_service_text}}
          </p>
    </div>  
  </body>
</HTML>
<router-outlet></router-outlet>
